@import "tailwindcss";

@theme {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  
  --color-background: #ffffff;
  --color-foreground: #171717;
  
  --color-primary: #0ea5e9;
  --color-secondary: #f0f9ff;
}

@media (prefers-color-scheme: dark) {
  @theme {
    --color-background: #0a0a0a;
    --color-foreground: #ededed;
  }
}

body {
  font-family: var(--font-geist-sans), system-ui, sans-serif;
  background: var(--color-background);
  color: var(--color-foreground);
}
